button {
  width: 50%;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff7d29;
}

.boton-clic {
  background-color: #b4e380;
}

.boton-reiniciar {
  background-color: #73bba3;
}
